.form-control-primary {
    margin: 10px;
    border-radius: 2px;
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
}

.left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px)
}

.sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
}
main {
    padding-top: 90px;
}

main .card {
    margin-bottom: 10px;
}
