.form-control-primary {
    margin: 10px;
    border-radius: 2px;
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
}

.left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px)
}

.sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
}
main {
    padding-top: 50px;
    width: 70%;
    height: 70%;
    margin-left: 200px;
    margin-right: 0px;
}

main .card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 10px;
}

img {
    border-radius: 8px;
    width: 50%;
    height: 50%;
}

.card-text {
    max-width: 80%;
}

.title_table {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}
